<div class="container">
  <span>
      <a [routerLink]="['/task1/mykart']">Go to kart</a>
      <p>Item added in kart {{KartAdded.length}}</p>
  </span>

    <div class="row">
        <div class="col-3"  *ngFor="let x of shoppingData | filter">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{x.name}}</h5>
                    <p>Type:{{x.type}}</p>
                    <span style='color:red;text-decoration:line-through'>
                      <span style='color:black'> {{x.price}}</span>
                    </span>
                    <a href="#" class="btn btn-primary">{{x.net}}</a>
                  </div>
                  <button class="btn btn-primary" (click)="addToKart(x)">Add to kart</button>
            </div>
        </div>
    </div>
</div>
