

              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                  <button class="btn btn-primary" (click)="home()" >Home</button>
                </div>
                <div class="btn-group" role="group">
                  <button class="btn btn-primary"  (click)="task1()">Task1(Shooping-Karting)</button>
                </div>
                <div class="btn-group" role="group">
                <button class="btn btn-primary"  (click)="task2()">Task2(Twitter-searching)</button>
                </div>
              </div>
<router-outlet></router-outlet>